<a href="https://colab.research.google.com/github/monsund/unsupervised-classification-of-Linkedin-Profiles-using-KMeans-LDA-TFIDF/blob/master/data_prep_for_statistical_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
input_datafile = '/content/drive/My Drive/NLP/with_swaraj/Data/lda_mallet_prediction/18_topics_pred_bigram_threshold_70.csv'
df = pd.read_csv(input_datafile)

In [3]:
df.drop_duplicates(subset='about', keep="last", inplace=True) # Removing rows with duplicate About description
df.reset_index(drop=True, inplace=True)  # resetting index
print(len(df))

8041

In [4]:
df.head()

                                                 url  ...                                           keywords
0  https://www.linkedin.com/in/lokesh-kumar-xess-...  ...  ['marketing', 'digital', 'brand', 'medium', 'c...
1         https://in.linkedin.com/in/sujithnarayanan  ...  ['business', 'sale', 'strategy', 'growth', 'ma...
2     https://www.linkedin.com/in/adarshramakrishnan  ...  ['product', 'design', 'team', 'build', 'user',...
3  https://www.linkedin.com/in/rhythm-bhatnagar-4...  ...  ['people', 'make', 'love', 'life', 'world', 't...
4       https://www.linkedin.com/in/karthiksureshlbs  ...  ['product', 'design', 'team', 'build', 'user',...

[5 rows x 7 columns]

# **Collecting Marketing Profiles**

In [5]:
df_marketing = df[df['dominant_topic']==5]
print(len(df_marketing))
df_marketing.topic_prob.mean()

649

0.15014555646151115

**Keeping data with 'topic_prob' greater than 0.16**

In [6]:
df_marketing_ = df_marketing[df_marketing['topic_prob']>0.16]
print(len(df_marketing_))

242

# **Collecting Product Leader's Profile**

In [7]:
df_pm = df[df['dominant_topic']==8]
print(len(df_pm))
df_pm.topic_prob.mean()

499

0.13460675273224404

**Keeping data with 'topic_prob' greater than 0.15**

In [8]:
df_pm_ = df_pm[df_pm['topic_prob']>0.15]
print(len(df_pm_))
df_pm_.head(3)

156

                                             url  ...                                           keywords
4   https://www.linkedin.com/in/karthiksureshlbs  ...  ['product', 'design', 'team', 'build', 'user',...
24    https://www.linkedin.com/in/talvindersingh  ...  ['product', 'design', 'team', 'build', 'user',...
26        https://www.linkedin.com/in/atingarg29  ...  ['product', 'design', 'team', 'build', 'user',...

[3 rows x 7 columns]

# **Collecting Profiles with Specialization in Data**

In [9]:
df_data = df[df['dominant_topic']==7]
print(len(df_data))
df_data.topic_prob.mean()

438

0.14283705351053627

In [10]:
df_data_ = df_data[df_data['topic_prob']>0.146]
print(len(df_data_))
df_data_.head(3)

163

                                                   url  ...                                           keywords
196                https://www.linkedin.com/in/agogino  ...  ['datum', 'solution', 'analytic', 'data', 'ent...
227               https://www.linkedin.com/in/shashvat  ...  ['datum', 'solution', 'analytic', 'data', 'ent...
254  https://www.linkedin.com/in/pradeep-javangula-...  ...  ['datum', 'solution', 'analytic', 'data', 'ent...

[3 rows x 7 columns]

## **Profiles of Software Developer and Software related**

In [11]:
df_sw = df[df['dominant_topic']==10]
print(len(df_sw))
df_sw.topic_prob.mean()

638

0.1565606411603038

In [12]:
df_sw_ = df_sw[df_sw['topic_prob']>.17]
print(len(df_sw_))
df_sw_.head(2)

208

                                                  url  ...                                           keywords
40            https://www.linkedin.com/in/nakulsaxena  ...  ['software', 'application', 'web', 'system', '...
64  https://www.linkedin.com/in/ashish-tripathi-aa...  ...  ['software', 'application', 'web', 'system', '...

[2 rows x 7 columns]

# **Profiles with StartUp, entrepreneur, investor with interest in startups**

In [13]:
df_entrepreneur = df[df['dominant_topic']==14]
print(len(df_entrepreneur))
df_entrepreneur.topic_prob.mean()

449

0.11801813307142091

In [14]:
df_entrepreneur_ = df_entrepreneur[df_entrepreneur['topic_prob']>0.137]
print(len(df_entrepreneur_))
df_entrepreneur_.head()

117

                                                 url  ...                                           keywords
7    https://www.linkedin.com/in/nikhilguptadigital/  ...  ['startup', 'tech', 'build', 'start', 'entrepr...
19               https://in.linkedin.com/in/nshntdxt  ...  ['startup', 'tech', 'build', 'start', 'entrepr...
63          https://www.linkedin.com/in/pratikpoddar  ...  ['startup', 'tech', 'build', 'start', 'entrepr...
100      https://www.linkedin.com/in/prasannainindia  ...  ['startup', 'tech', 'build', 'start', 'entrepr...
115        https://www.linkedin.com/in/rahulguptarmv  ...  ['startup', 'tech', 'build', 'start', 'entrepr...

[5 rows x 7 columns]

# **profiles of working in Invesment company or startups looking for investment**

In [15]:
df_investor = df[df['dominant_topic']==11]
print(len(df_investor))
df_investor.topic_prob.mean()

569

0.15687370162600825

In [16]:
df_investor_ = df_investor[df_investor['topic_prob']>0.19]
print(len(df_investor_))
df_investor_.head(3)

136

                                             url  ...                                           keywords
6   https://www.linkedin.com/in/karthikprabhakar  ...  ['company', 'investment', 'lead', 'venture', '...
16  https://www.linkedin.com/in/vishyvenugopalan  ...  ['company', 'investment', 'lead', 'venture', '...
33          https://www.linkedin.com/in/sanatrao  ...  ['company', 'investment', 'lead', 'venture', '...

[3 rows x 7 columns]

# **Business Developer, Sales, Strategic growth developer**

In [17]:
df_business = df[df['dominant_topic']==12]
print(len(df_business))
df_business.topic_prob.mean()

405

0.12857702210846964

In [18]:
df_business_ = df_business[df_business['topic_prob']>0.14]
print(len(df_business_))
df_business_.head(2)

127

                                                  url  ...                                           keywords
21          https://www.linkedin.com/in/rsudhirshenoy  ...  ['business', 'sale', 'strategy', 'growth', 'ma...
29  https://in.linkedin.com/in/rishi-srivastava-12...  ...  ['business', 'sale', 'strategy', 'growth', 'ma...

[2 rows x 7 columns]

# **Management skills Profile**

In [19]:
df_manager = df[df['dominant_topic']==3]
print(len(df_manager))
df_manager.topic_prob.mean()

326

0.13591641734432516

In [20]:
df_manager_ = df_manager[df_manager['topic_prob']>0.14]
print(len(df_manager_))
df_manager_.head(2)

131

                                                url  ...                                           keywords
96            https://www.linkedin.com/in/kievewang  ...  ['management', 'customer', 'manage', 'process'...
228  https://www.linkedin.com/in/imnikhilbhaskaran/  ...  ['management', 'customer', 'manage', 'process'...

[2 rows x 7 columns]

# **HR Profiles**

In [21]:
df_hr = df[df['dominant_topic']==4]
print(len(df_hr))
df_hr.head(2)

309

                                                   url  ...                                           keywords
178  https://www.linkedin.com/in/jonathan-parisot-1...  ...  ['team', 'build', 'lead', 'leadership', 'organ...
298  https://www.linkedin.com/in/meghan-herring-049...  ...  ['team', 'build', 'lead', 'leadership', 'organ...

[2 rows x 7 columns]

**Marking rows for about section description with keywords of HR**

In [22]:
hr_word = set(['hr ', ' hr' 'human resource', 'recruit'])
df_hr['checking_hr_word'] = df_hr.about.apply(lambda x:  ['true' for word in hr_word if word in x.lower() ])
# df_hr.head(2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

**collecting dataframe row_index where an about section has HR related words**

In [23]:
row_index_with_hr_words = []
for row in df_hr.index:
  if len(df_hr['checking_hr_word'][row])!=0:
    row_index_with_hr_words.append(row)
    # print(row,'\n')

**Collecting final Rows with HR related about section**

In [24]:
final_df_hr_list = []
for index in row_index_with_hr_words:
  url = df_hr.url[index]
  username = df_hr.username[index]
  title = df_hr.title[index]
  about = df_hr.about[index]
  dominant_topic = df_hr.dominant_topic[index]
  topic_prob = df_hr.topic_prob[index]
  keywords = df_hr.keywords[index]
  dic = {'url':url,'username':username,'title':title,'about':about,'dominant_topic':dominant_topic,'topic_prob':topic_prob,'keywords':keywords}
  final_df_hr_list.append(dic)
  
df_hr_ = pd.DataFrame(final_df_hr_list)

In [25]:
df_hr_ = df_hr_[df_hr_['topic_prob']>0.15]
len(df_hr_)

85

# **Final Data Preparation for Statistical Model Classification**

In [26]:
df_final_data = pd.concat([df_marketing_,df_pm_,df_data_,df_sw_, df_entrepreneur_, df_investor_,df_manager_,df_business_,df_hr_],axis=0)

In [27]:
len(df_final_data)

1365

# **Export final data frame**

In [ ]:
df_final_data.to_csv('/content/drive/My Drive/NLP/with_swaraj/Data/data_for_statistical_classification_1.csv')